# Virtual Environments
venv/
.venv/
__pycache__/
*.pyc

# Secrets and API Keys
.env

# System Files
.DS_Store

# Vector Databases (local)
qdrant_db/

# Raw Knowledge Base
documentos_fonte/
docs/

# IDE
.vscode/
.idea/

# JSON
*.json

# Personal Portfolio Documentation
.portfolio_docs/

#Git Actions
.github/workflows/*.yml
.github/workflows/*.yaml
.github/workflows/*.yml
